<br />

<div class="container-fluid">
    <form>
        <div class="row" style="background-color: white; padding-top: 15px; z-index: 0;">
            <div class="col-6 col-xs-6 col-sm-6 col-md-6">
                <br /><br />
                <mat-label style="color: #555555;">
                    <h6>Search by Keyword</h6>
                </mat-label>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput placeholder="Enter Key" style="width: 100%;" [(ngModel)]='txtKey'
                        name="searchGroup">
                </mat-form-field>
            </div>
            <div id="lblPrice" class="col-6 col-xs-6 col-sm-6 col-md-6">
                <br /><br />
                <mat-label style="color: #555555;">
                    <h6>Price&nbsp;&nbsp;&nbsp;
                        <span style="color: red;" [hidden]="!this.errorMessage"><i>{{ this.errorMessage }}</i></span></h6>
                </mat-label>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput placeholder="Enter Price" style="width: 100%;" [(ngModel)]='txtPrice' type="number"
                        name="searchGroup" #txtPriceInput>
                </mat-form-field>
            </div>

            <div class="col-12 col-xs-12 col-sm-4 col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Enter City" style="width: 100%;" [(ngModel)]='txtCity'
                        name="searchGroup">
                </mat-form-field>
            </div>

            <div class="col-12 col-xs-12 col-sm-4 col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Township</mat-label>
                    <input matInput placeholder="Enter Township" style="width: 100%;" [(ngModel)]='txtTownship'
                        name="searchGroup">
                </mat-form-field>
            </div>

            <div class="col-12 col-xs-12 col-sm-4 col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Enter Country" style="width: 100%;" [(ngModel)]='txtCountry'
                        name="searchGroup">
                </mat-form-field>
            </div>

            <div class="col-12 col-xs-12 col-sm-4 col-md-4">
                <button mat-stroked-button (click)="searchRentInfo()">Search</button>
            </div>
        </div>
    </form>
</div>
<div>go under</div>
<p>home works! 123</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>