input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

div.mat-expansion-panel-body {
    padding: 0;
}

div.mat-chip-list-wrapper {
    width: 100%;
}